<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xsi:schemaLocation="NLog NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
  internalLogFile="InternalNlogLog.log"
	internalLogLevel="Info"
	>
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
    <add assembly="Nlog.RabbitMQ.Target" />

  </extensions>
  <targets async="true">


    <target xsi:type="Console" name="LogToConsole"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${all-event-properties} ${exception:format=tostring}"
			/>

	  





		<target name="Log"
		  xsi:type="RabbitMQ"
		  username="${environment:variable=LOGGING_RABBIT_USER:default=admin}"
		  password="${environment:variable=LOGGING_RABBIT_PASS:default=admin@123}"
		  hostname="${environment:variable=LOGGING_RABBIT_HOST:default=192.168.22.112}"
		  exchange="${environment:variable=LOGGING_RABBIT_LOG_EXCHANGE:default=Log}"
		  exchangeType="fanout"
		  port="5673"
		  vhost="${environment:variable=LOGGING_RABBIT_VHOST:default=/}"
		  layout="${longdate}|${level:uppercase=true}|${message}"
		  UseJSON="true"
            >

			<field key="threadid" layout="${threadid}" />
			<field key="machinename" layout="${machinename}" />
		</target>

		<target name="ErrorLog"
		  xsi:type="RabbitMQ"
		  username="${environment:variable=LOGGING_RABBIT_USER:default=admin}"
		  password="${environment:variable=LOGGING_RABBIT_PASS:default=admin@123}"
		  hostname="${environment:variable=LOGGING_RABBIT_HOST:default=192.168.22.112}"
		  exchange="${environment:variable=LOGGING_RABBIT_ERROR_EXCHANGE:default=ErrorLog}"
		  exchangeType="fanout"
		  port="5673"
		  vhost="${environment:variable=LOGGING_RABBIT_VHOST:default=/}"
		  layout="${longdate}|${level:uppercase=true}|${message}"
		  UseJSON="true"
            >

			<field key="threadid" layout="${threadid}" />
			<field key="machinename" layout="${machinename}" />
		</target>

  </targets>


  <rules>

    <logger name="*" minlevel="Trace" writeTo="LogToConsole" />
    <logger name="*" minlevel="Trace" writeTo="Log" />
    <logger name="*" level="Error" writeTo="ErrorLog" />

  </rules>
</nlog>
